<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>邮件发送</title>
<link href="theme/css/style.css" type="text/css" rel="stylesheet" />
<link href="theme/css/jquery-ui.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="theme/js/jquery.js"></script>
<script type="text/javascript" src="theme/js/jquery-ui.js"></script>
<script type="text/javascript" src="theme/js/jquery.ui.datepicker-zh-CN.js"></script>

<script type="text/javascript">
  $(function(){
     $("#btn").live("click",function(){
		 if(!$("#email_title").val()){
			 alert("主题不能为空！！")
			 return false;
			 }
	    $(this).attr('disabled',true);
		$("#span").html("邮件发送中...");
	 })
  })
</script>
<style>
input
    {
		width:400px;
	}
textarea
      {
		  width:100%;
		  height:200px;
	  }
table{margin:0 auto;}
tr{height:30px;}	  
</style>
</head>
<body>
<form method="post" action="" id="form1" enctype="multipart/form-data">

<table>
  <tr>
	<!--<td>收件人：</td>
	<td colspan="3"><input type="text" name="email_to" id="email_to" value="<?php echo $email_to?>" style="width:400px;" /></td>
	<td>发件人：</td>
	<td><input type="text" name="email_from" id="email_to" value="<?php echo $email_from?>" /> </td>-->
  </tr>
  <tr>
	<td>主题：</td>
	<td colspan="3"><input type="text" name="email_title" id="email_title" value="" /></td>
  </tr>
  <tr>
	<td>附件：</td>
	<td colspan="3"><input type="file" name="fujian"  value="" /></td>
  </tr>
  <tr>
    <td>邮件内容：</td>
	<td colspan="3">
	  <textarea name="email_cotent" id="email_cotent"></textarea>
	</td>
  </tr>
  <tr>
    <td colspan = "4" align="center"><button id="btn" class="btn btn-submit" type="submit">发送</button><span id="span"></span></td>
  </tr>
</table>

  </form>

</body>
</html>