<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>分组权限登记</title>
<link href="theme/css/style.css" type="text/css" rel="stylesheet" />
<link href="theme/css/jquery-ui.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="theme/js/jquery.js"></script>
<script type="text/javascript" src="theme/js/jquery-ui.js"></script>
<script>
    $(function() {
		var tooltips = $( "[title]" ).tooltip({position:{my:"left bottom+37", at:"left bottom"}});
        $( "#user-tab" ).tabs({
            collapsible: false
        });
		 $( "#role" ).tabs({
            collapsible: false
        });
        $(".quan").click(function(){
            $(this).parent().parent().next().find('input').attr("checked",true);
            $(this).parent().find('input').attr("checked",true);
    	});
    	$(".fan").click(function(){
    		$($(this).parent().parent().next().find('input')).each(function(){
    			if($(this).attr("checked")){
    			  $(this).removeAttr("checked");
    			}else{
    			 $(this).attr("checked",'true');
    			}
    		})
    	});
    	$(".qu").click(function(){
    		$(this).parent().parent().next().find('input').attr("checked",false);
            $(this).parent().find('input').attr("checked",false);
    	});
		$('#select-username').click(function(){
			$('#username').attr("disabled",false); 
    	});
		$('#select-newpassword').click(function(){
			$('#newpassword').attr("disabled",false); 
			$('#newpassword').attr("value",'');
    	});
		$('body').mouseover(function() {
		});
    });

//防止被浏览器串改帐号密码
setTimeout("reset_value()", 1000);
function reset_value()
{
	$('#username').attr("value",'<?=$gro_info['username'];?>');
	$('#newpassword').attr("value",'');
}
</script>
</head>
<body>

<form name="form1" method="post" action="?c=setting&a=save_role" >
<input type="hidden" id="gro_id" name="gro_id" value="<?=$gro_id?>" />
<div id="role" style="margin:0 auto;width:800px;" class="tal">
<?php  
	// 判断目录下是否有链接
	// 彻底解决空目录出现问题
	foreach( $left_nav as $key_a=>$nav_a ){
	 if(is_array($nav_a))
	 {
	 foreach($nav_a as $key=>$nav)
		 {
	 if(is_array($nav['options'])){
		$options = array_values($nav['options']);
		foreach( $nav['options'] as $kk=>$item ){				
				if($_SESSION['userinfo']['username']=='admin' || (false !== strpos($_SESSION['userinfo']['sys'], urltoauth($item[1])))){
					$left_nav[$key_a][$key]['haslink'] = 1;
				}
		}	}	}	}	}
?>
<ul>
<?php 
//@lyh 2016-03-21
/////////是否开启右上角菜单  对应的权限////个人中心不设置权限///////////////////////
if ((bool)get_option('is_main')		==1){$_left_nav[]=$left_nav[main];}
if ((bool)get_option('is_product')	==1){$_left_nav[]=$left_nav[product];}
if ((bool)get_option('is_oasys')	==1){$_left_nav[]=$left_nav[oasys];}


foreach ($_left_nav as $my_key=>$val){
		if(!$val[appName] == ''){

?>
	<li><a href="#<?=$my_key;?>"><?=$val['appName'];?></a></li>
<?php
	} 
}

?>
</ul>
<br />
<font style="font-weight:800;font-size:16px">权限设置对象“<?=$gro_info['name'];?>”</font>
<?php
	foreach ($_left_nav as $my_key=>$left_nav_array){
    
    ?>
    <div id="<?=$my_key;?>">
     <?php 
		foreach ($left_nav_array as $left_nav_array_nav){
        if(!is_array($left_nav_array_nav))continue;
      if(isset($left_nav_array_nav['haslink']) and $left_nav_array_nav['haslink'] == 1){
		?>
<div style="margin:20px auto;width:750px;" class="tal ui-tabs ui-widget ui-widget-content ui-corner-all quanxian">
	<ul class='sys_header'>
		<li><label style='font-size:18px'> <b><?=$left_nav_array_nav['name']?></b></label><label style='margin-left:30px;cursor:pointer;' class='quan'>[全选]</label><label class='fan' style='margin-left:20px;cursor:pointer;' >[反选]</label><label class='qu' style='margin-left:20px;cursor:pointer;' >[取消]</label></li>
		<div class='clear sys_line'></div>
	</ul>
	
	<div class="sys_main">
		<ul>
		<?php

			foreach($left_nav_array_nav['options'] as $key=>$options_array){
				$checked = '';
				if(@strpos($gro_info['other'], urltoauth($options_array[1])) !== false) {
					$checked = 'checked';
				}
				

//2016-3-16 
				$value='';
				foreach($options_array as $k=>$val)
					{
						if(strpos( $val , 'c=' )){

							$explode = explode('|', $val);
							foreach ($explode as $_value) {
                            $value .= '|'.urltoauth($_value);
						   }
						}
					}
				$value=trim($value,'|');


				echo "<li><label><input type='checkbox' name='check_sys[]' value='$value' class='ischeck' $checked >".$options_array[0]."</label></li>";
			}
		?>
		</ul>
		<div class='clear'></div>
	</div>
</div>
<?php
		}}
        ?>
        </div>
        <?php 
	}
?>
<p><center><button class="btn btn-submit" type="submit"> 保 存 </button></center></p><br/>

</form>
<br/><br/>
<hr />
<?php
/*
    foreach ($_left_nav as $my_key=>$left_nav_array){
    	
        echo("模块名称:");
        echo($val['appName']);
        echo("<br>");
        foreach ($left_nav_array as $left_nav_array_nav){
            if(!is_array($left_nav_array_nav))continue;
            echo("--------菜单名:");
            echo($left_nav_array_nav['name']);
            foreach($left_nav_array_nav['options'] as $key=>$options_array){
				$checked = '';
				if(@strpos($gro_info['other'], urltoauth($options_array[1])) !== false) {
					$checked = 'checked';
                    echo("--------");
                    echo("操作权限:");
                    $value = urltoauth($options_array[0]);
                    echo($value);
                    
				}
			}
            echo("<br>");
        }
    }
  */  
?>
</div>

</body>
</html>
