<script type="text/javascript">
$(document).ready(function(){
  $( "#month-59" ).tabs({
    collapsible: false
  });
  $( "#month-change" ).tabs({
    collapsible: false
  });
  
  $( "input.input-date" ).datepicker({
    changeMonth : true,
    changeYear  : true,
    dateFormat  : "yy-mm-dd"
  });
  $('#btn-excel').click(function(){
  var s_date = $('#s_date').val();
  var e_date = $('#e_date').val();
  if(!s_date && !e_date){
    alert('请输入正确时间！');
    return false;
  }
    $(this).addClass('layui-btn-disabled');
	$("#excel_form").submit();
	$(this).attr('disabled',true);
  
  })
  
});
</script>
</head>
<body><br>

<div id="month-59" style="margin: 0 auto; width: 750px;" class="tal">
  <ul>
    <li><a href="#tab-basic">生成项目</a></li>
  </ul>
  <div id="tab-basic" style="100%">
    <table style="100%" class='grid-table'>
      <thead>
      <tr align='center'>
        <th width="150" align='center'>开始时间</th>
        <th width="150">结束时间</th>
        <th width="*">生成数据表</th>
      </tr>
      </thead>
            <form action="" method="post" id="excel_form">
      <tr align='center'>
        <td width="150"><input type='text' id='s_date' name='s_date' value='<?=$s_date?>' class="input input-date"/></td>
        <td width="150"><input type='text' id='e_date' name='e_date' value='<?=$e_date?>' class="input input-date"/></td>
                <td>
                
                 <button id="btn-excel" class="layui-btn layui-btn-normal layui-btn-small" type="button">生成数据表</button></td>
        </form>
      </tr>
      <?php if($label){?>
      <tr>
        <td colspan="4" height="54" align="left" valign="middle">
                <span class="cRed">注：<?=$label;?></span>
        </td>
      </tr>
      <?php }?>
    </table>
  </div>
</div>
<br/>

</body>
</html>