<br />
<table class="grid-table tal" style=" margin:0 auto;width:<?=$width;?>px;" >
    
    <tr>
      <th width="70">申请编号</th><td><?=$cti_code;?></td>
    </tr>
    <tr>
      <th width="70">委托人</th><td><?=$ep_name;?></td>
    </tr>
    <tr>
      <th >生产者</th><td><?=$ep_manu_name;?></td>
    </tr>
    <tr>
      <th >生产企业</th><td><?=$ep_prod_name;?></td>
    </tr>
    <tr>
      <th >产品名称</th><td><?=$prod_name_chinese?></td>
    </tr>
    <tr>
      <th >产品型号</th><td><?=$scope;?></td>
    </tr>
    <tr>
      <th >产品小类</th><td><?=$prod_id;?></td>
    </tr>
    <tr>
      <th >产品标准</th><td><?=$prod_ver;?></td>
    </tr>
    </table>
    <br />
