<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>方圆ERP系统-密码找回</title>
<link href="theme/css/style.css" type="text/css" rel="stylesheet" />
<script src="theme/js/jquery.js" type="text/javascript"></script>
<script type="text/javascript" src="theme/js/validator.js"></script>
<script type="text/javascript">
$(function(){ 
//表单验证
 	$('.submit-btn').click(function(){ 
		if (!Validator.Validate($('#regFrom')[0], 2)) return;
		 $('#regFrom').submit();
	}); 
})
</script>
</head>
<body  background="theme/images/ps_01.gif" bgcolor="#58ABE8" style='padding:0px;margin:0px'>
<FORM METHOD=POST ACTION="" ID="regFrom">
  <table width="431" border="0" align="center" cellpadding="0" cellspacing="0" 
  style=" margin-top:200px; text-align:left; background-color:#FFF; border-radius:4px;">
    <tr>
      <td colspan="2" height="30"><div  style="font-size:16px; color:#fff; margin-bottom:10px; border-radius:4px 4px 0px 0px; background-image:url(theme/images/title.png); background-repeat:repeat-x; text-align:center; font-weight:bold; line-height:30px;">密码找回</div></td>
    </tr>
	<tr>
		<td class="font1" align="right">用户名：</td>
		<td><input type="text" name="en_username" class="box3" dataType="Require" msg="姓名不能为空！"/><span><em style="color:red">*</em></span></td>
	</tr>
	<tr>
		<td class="font1" align="right">联系邮箱：</td>
		<td><input type="text" name="e_mail" class="box3" dataType="Require" msg="邮箱不能为空！"/><span><em  style="color:red">*</em></span></td>
	</tr>
	<tr>
		<td class="font1" align="right"></td>
		<td><font color="red">密码找回确认之后，会恢复为初始密码123456</font></td>
	</tr>
	<!-- <tr>
		<td class="font1" align="right">手机：</td>
		<td><input type="text" name="tel"  class="box3" dataType="Require" msg="手机不能为空！"/><span><em  style="color:red">*</em></span></td>
	</tr> -->
	<tr>
		<td height="40" >&nbsp;</td>
      <td><input  type="button" value="提交" class="btn btn-submit submit-btn"/></td>
	</tr>
  </table>
</form>
</body>
</html>
