<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>选择人员</title>
    <link href="theme/css/style.css" type="text/css" rel="stylesheet" />
    <link href="theme/css/jquery-ui.css" type="text/css" rel="stylesheet" />
    <script type="text/javascript" src="theme/js/jquery.js"></script>
    <script type="text/javascript" src="theme/js/jquery-ui.js"></script>
    <script type="text/javascript" src="theme/js/core.js"></script>
    <script>
    $(function() {
		//var tooltips = $( "[title]" ).tooltip({position:{my:"left+6 center", at:"right center"}});
        $( "#enterprise-tab" ).tabs();
    });
	function clearForm(objE){
    $(objE).find(':input').each(
        function(){
            switch(this.type){
                case "text":
                case "select-one":
                	$(this).val('');
                    break;
            }
        }
    );
}

    </script>
    </head>

    <body>
<form method="get">
      <input type="hidden" name="m" value="<?=$m;?>" />
<input type="hidden" name="c" value="<?=$c;?>" />
<input type="hidden" name="a" value="<?=$a;?>" />
      <input type="hidden" name="type" value="<?=$_GET['type']?>" />
      <table>
    <tr>
          <td>产品种类编码：</td>
          <td><input type="text" name="code" value="<?=$_GET['code'];?>" class="input input-search" /></td>
          <td>工厂界定编码：</td>
          <td><input type="text" name="fac_code" value="<?=$_GET['fac_code'];?>" class="input input-search" /></td>
          <td>产品名称：</td>
          <td><input type="text" name="name" value="<?=$_GET['name'];?>" class="input input-search" /></td>

        </tr>
  </table>
      <p class="button-panel tal">
    <button type="submit" class="btn btn-submit"> 搜索 </button>
    &nbsp; 
		<button  class="btn btn-button" onclick="clearForm(this.form);" >清空</button>
  </p>
    </form>
<?=$pages['pages'];?>
<p style="font-size:0;height:9px;overflow:hidden;"></p>
<table class="grid-table">
  <thead>
    <tr>
          <th width="30">选择</th>
          <th width="80">产品种类编码</th>
          <th width="80">工厂界定编码</th>
          <th width="80">产品名称</th>
        </tr>
  </thead>
      <tbody>
    <?php
if( $list_datas ){
	foreach( $list_datas as $id => $row ){
?>
    <tr align="cneter">
          <td><a href="javascript:window.parent.update_prod( '<?=$row['code'];?>','<?=$row['fac_code'];?>', '<?=$row['code'];?>-<?=$row['name'];?>' );"><img src="theme/images/b_edit.png" border="0" /></a></td>
          <td><?=$row['code'];?></td>
          <td><?=$row['fac_code'];?></td>
          <td>
              
              <?=$row['name']?>
          </td>
        </tr>
    <?php
	}
} else {
?>
    <tr>
          <td colspan="5">未找到相关记录</td>
        </tr>
    <?php
}
?>
  </tbody>
    </table>
<?=$pages['pages'];?>
</body>
</html>
