<?php tpl('header')?>


<script>
var self = null;

$(function(){
	$('.icon-del').click(function(){ 
		confirm_dialog('确定删除配置信息？', $(this).attr( 'href' ), 'warning' );
		return false;
	}); 
	$('.select_prod').live('click',select_prod);
	 
})
//选择产品
function select_prod(){  
	var href='?m=com&c=ajax&a=select_prod';
	self = this;
	$('<iframe id="frame1" src='+href+'></iframe>').dialog({
		title: '添加产品',
		width: 800,
		height:420,
		modal: true,
		resizable: false,
		autoResize: true,
		overlay: {opacity: 0.5,background: "black"},
		 
	}).width(780);
	
}
function update_prod(prod_id,prod_name){  
 	self.value=prod_name;
	$(self).parents('tr').find('.prod_id').val(prod_id);
 
	$('#frame1').dialog('close');
	$('#frame1').dialog('destroy');
	$('#frame1').remove();
}
</script>
</head>

<body>

<div style="margin:0 auto;width:1300px;" class="tal ui-tabs ui-widget ui-widget-content ui-corner-all">
	<ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
		<li class="ui-state-default ui-corner-top ui-tabs-active ui-state-active"><a href="javascript:;">系统设置&gt;&gt;标准设置</a></li>
	</ul>
	<div class="ui-tabs-panel ui-widget-content ui-corner-bottom">
<form method="get" >  
			<input type="hidden" name="m" value="<?=$m;?>" />
            <input type="hidden" name="app" value="<?=$app;?>" />
			<input type="hidden" name="a" value="<?=$a;?>" />
            <input type="hidden" name="type" value="<?=$_GET['type'];?>" />
			<table>
				<tr>
					<td>标准编号：</td>
					<td><input type="text" name="code" value="<?=$_GET['code'];?>" class="input input-search" /></td>
                   
					<td>标准名称：</td>
					<td><input type="text" name="name" value="<?=$_GET['name'];?>" class="input input-search" /></td> 
				</tr>
			</table>
			<p class="button-panel tal">
				<button type="submit" class="btn btn-submit"> 搜索 </button>
			</p>
		</form>

		<?=$pages['pages'];?>

<p style="font-size:0;height:9px;overflow:hidden;"></p>
<form method="post" enctype="multipart/form-data"> 
<table class="form-table tal">
	<tr>
		<th width="40">排序</th>
		<th width="120">标准编号</th> 
		<th>标准名称</th> 
        <th>认可标志</th>
             <th>下载</th>
          <th>上传</th>
 		<th width="120">状态</th>
		<th width="40">删除</th>
	</tr>
<?php
!defined('IN_SUPU') && exit('Forbidden');
if( $resdb ){
	foreach( $resdb as $id => $row ){
		$row['stop_Y'] = $row['is_stop'] ? 'checked' : '';
		$row['stop_N'] = $row['is_stop'] ? '' : 'checked';
?>
	<tr align="center">
		<td><input type="text" name="old[<?=$id;?>][vieworder]" value="<?=$row['vieworder'];?>" size="2" class="input" /></td> 
		<td><input type="text" name="old[<?=$id;?>][code]" value="<?=$row['code'];?>" size="30" class="input" /></td>
 		<td align="left"><input type="text"  title="<?=$row['name'];?>" name="old[<?=$id;?>][name] " value="<?=$row['name'];?>" size="60" class="input" /></td>
        <td><input type="radio" name="old[<?=$id;?>][mark]" value="01" <?php if($row['mark']=='01'){;?> checked <?php } ?> />认可<input type="radio" name="old[<?=$id;?>][mark]" value="98" <?php if($row['mark']==98){;?> checked <?php } ?> />未认可 </td>
         <td > 
          <?php if(file_exists($prod_ver_dir.$id.'.'.$row['ext'])){?>
          <a  href="<?=$prod_ver_dir.$id.'.'.$row['ext']?>" class="icon-down"></a>
          <?php } ?>
           </td>
          <td><input type="file" name="old[<?=$id;?>][file_name]"/></td>
		<td>
			<input type="radio" id="stop-{$id}-N" name="old[<?=$id;?>][is_stop]" value="0" <?=$row['stop_N'];?>/><label for="stop-{$id}-N"> 启用</label>
			<input type="radio" id="stop-{$id}-Y" name="old[<?=$id;?>][is_stop]" value="1" <?=$row['stop_Y'];?>/><label for="stop-{$id}-Y"> 停用</label>
		</td>
		<td align="center"><a href="?m=com&c=<?=$c;?>&a=<?=$a?>&del=<?=$row['id'];?>&type=<?=$_GET[type]?>" class="icon-del"></a></td>
	</tr>
<?php 
	}
}
?>
	<tr align="center">
		<td><input type="text" name="new[vieworder]" value="" size="2" class="input" /></td>
		<td><input type="text" name="new[code]" value="" size="30" class="input" /></td>
        
		<td align="left"><input type="text" name="new[name]" value="" size="60" class="input" /></td> 
       	<td></td>
        <td></td>
        <td></td>
		<td>
			<label><input type="radio" name="new[is_stop]" value="0" /> 启用</label>
			<label><input type="radio" name="new[is_stop]" value="1" /> 停用</label>
		</td>
		<td></td>
	</tr> 
	<tr>
		<td colspan="5"><center><button class="btn btn-submit" type="submit"> 保 存 </button></center></td>
	</tr>
</table>
</form>
	</div>
</div>


</body>
</html>
