 <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=<?php sysinfo('charset');?>" />
<title>编辑客户信息</title>
<link href="theme/css/style.css" type="text/css" rel="stylesheet" />
<link href="theme/css/jquery-ui.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="theme/js/jquery.js"></script>
<script type="text/javascript" src="theme/js/jquery-ui.js"></script> 
<script type="text/javascript" src="theme/js/validator.js"></script>
<script>
function clearForm(obj){

$(obj).find(":input[type=text]").each(function(){
	$(this).val("");

})

}
</script>
</head>
<body>
<form method="get" id="search-form" action="" class="search-form tal" style='width:1100px;margin:0 auto;'>
<input type="hidden" name="c" value="<?=$c;?>" />
<input type="hidden" name="a" value="<?=$a;?>" /> 
	<table>
		<!--<tr>
			<td class='left'>客户名称：</td>
			<td class='right'><input type="text" id="name" name="name" value="<?=$_GET['name'];?>" class="input finput" /></td>-->
			<td class='left'>编号：</td>
			<td class='right'><input type="text" id="name" name="contract_no" value="<?=$_GET['contract_no'];?>" class="input finput" /></td>
		</tr>
	</table>
	<p class="button-panel">
		<button class="btn btn-submit" type="submit"> 搜 索 </button> &nbsp; 
		<button  class="btn btn-button" onclick="clearForm(this.form);" >清空</button>&nbsp;  
	</p>
</form>
<br/>  
<form method="post">

<div style="margin:0 auto;width:1100px;"  class="tal ui-tabs ui-widget ui-widget-content ui-corner-all">
	<ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
		<li class="ui-state-default ui-corner-top <?=$tab_0;?>"><a href="?c=in_auditor&a=certificate_dealer_list&statu=0">未登记<span class="cnt-total">&nbsp;<?=$c_total[0];?></span></a></li>
        <li class="ui-state-default ui-corner-top <?=$tab_1;?>"><a href="?c=in_auditor&a=certificate_dealer_list&statu=1">已登记<span class="cnt-total">&nbsp;<?=$c_total[1];?></span></a></li>
	</ul>
	<div class="ui-tabs-panel ui-widget-content ui-corner-bottom">
 		 <table class="grid-table">
              <thead>
                <tr>
                	<th width="30">编辑</th>
                	<th>编号</th>
                    <th>日期</th>
                    <th>客户名称</th>
                    <th>总费用</th>
                    <th>课程</th>
                   
                </tr>
              </thead>
              <tbody>
              <?php foreach($dealer_list as $v){?>
                 <tr>
                 	<td align="center"><a href="?c=in_auditor&a=certificate_add&dealerId=<?=$v['id']?>"><img src="theme/images/b_edit.png" border=0 /></a></td>
                	<td><?=$v['contract_no']?></td>
                    <td><?=$v['accept_date']?></td>
                    <td><?=$v['name']?></td>
                    <td><?=$v['contract_money']?></td>
                    <td><?=$v['course']?></td>
                   
                 </tr> 
              <?php } ?>
              </tbody>
  		</table>
		<p><?=$pages['pages'];?></p>
    </div>

</div>


</form>
</body>
</html>
