<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="renderer" content="webkit">
<title>认证机构ERP系统-V5.0</title>
</head>
<frameset rows="70,*"  frameborder="no" framespacing="0">
	<frame name="top" scrolling="no" noresize target="contents" src="?m=testorg&c=index&a=top" scrolling="no">
	<frameset cols="180,11,*" name="pageframe" id="pageframe">
	 <frame name="left" src=".?m=testorg&c=index&a=left" scrolling="auto" noresize="noresize" />
	 <frame src=".?m=testorg&c=index&a=line" scrolling="no" noresize="noresize" />
	 <frame name="rightmain" src=".?m=testorg&c=home" />
</frameset><noframes></noframes>
</html>