<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>选择证书</title>

<link href="theme/css/style.css" type="text/css" rel="stylesheet" />
<link href="theme/css/jquery-ui.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="theme/js/jquery.js"></script>
<script type="text/javascript" src="theme/js/jquery-ui.js"></script>
<script>
    $(function() {
	  
	    /* $("img[class='click']").click(function(){
		    var org_uid = $(this).attr('i');
			var org_name = $(this).parent().parent().find('.org_name').text();
			window.parent.update_hr(org_uid,org_name);
		 });*/
    });
	function clearForm(objE){
    $(objE).find(':input').each(
        function(){
            switch(this.type){
                case "text":
                case "select-one":
                	$(this).val('');
                    break;
            }
        }
    );
}

    </script>
</head>

<body>
<!--<form method="get" action="?">
	<input type="hidden" name="m" value="product" />
	<input type="hidden" name="c" value="<?=$c;?>" />
	<input type="hidden" name="a" value="<?=$a;?>" />
	<table>
		<tr>
			
			<td>编号：</td>
			<td ><input type="text" name="code" value="<?=$code;?>"  class="input input-search-basic" /></td>
            <td>档案号：</td>
			<td ><input type="text" name="ctc_code" value="<?=$ctc_code;?>"  class="input input-search-basic" /></td>
            <td>机构名称：</td>
			<td ><input type="text" name="name" value="<?=$name;?>"  class="input input-search-basic" /></td>
		</tr>
		<tr>
			<td colspan="8" align="left">
				<button type="submit" class="btn btn-submit"> 搜索 </button>
                 &nbsp;
    <button  class="btn btn-button" onclick="clearForm(this.form);" >清空</button>
			</td>
		</tr>
	</table>
</form>-->

	<table class="grid-table">
		<thead>
		<tr>
			<th width="30">选择</th>
			<th width="40">证书号</th>
            <th width="30">委托人</th>
            <th width="30">生产者</th>
			
		</tr>
		</thead>
		<tbody>
<?php
if($data){
	foreach( $data as $id => $row ){
?>
		<tr align="cneter">
			<td><img class="click" data='<?=$row[data]?>' title="点击选择" src="theme/images/b_edit.png" width="18px" height="18px;"  border=0 style="cursor:pointer" onclick="javascript:window.parent.update_cert('<?=$row[id]?>','<?=$row[certno]?>')" /></td>
			<td><?=$row['certno'];?></td>
            <td><?=$row['cert_name'];?></td>
            <td><?=$row['manu_name'];?></td>
			
            
		</tr>
<?php
	}
} else {
?>
		<tr>
			<td colspan="5">未找到相关记录</td>
		</tr>
<?php
}
?>
		</tbody>
	</table>
	<?=$pages['pages'];?>


</body>
</html>
