<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>企业列表</title>
<link href="theme/css/style.css" type="text/css" rel="stylesheet" />
<link href="theme/css/jquery-ui.css" type="text/css" rel="stylesheet" />
<link href="theme/css/bootstrap/css/bootstrap.min.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="theme/js/jquery.js"></script>
<script type="text/javascript" src="theme/js/jquery-ui.js"></script>
<script type="text/javascript" src="theme/js/ui-dialog.js"></script>
<script type="text/javascript" src="theme/js/jquery.ui.datepicker-zh-CN.js"></script>
<script type="text/javascript" src="theme/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript">
function clearForm(objE){
    $(objE).find(':input').each(
        function(){
            switch(this.type){
                case "text":
                case "select-one":
                  $(this).val('');
                    break;
            }
        }
    );
}
$(function(){
$('#export-xls-btn').click( function(){
  
    var form = $('#search-form');
    form.append($('<input type="hidden" name="export" value="1" />'));
    form.submit();
    form.find('input[name=export]').remove();
    
   
  } );
  $(".word").click(function(){
	  cti_id = $(this).attr("cti_id");
	  url = "?m=customer&c=ajax&a=word_list&cti_id="+cti_id;
	  iframe_dialog("WORD文件列表",url,300,200);
	  
	  })
})

</script>
</head>

<body>

<form method="get" action="" id="search-form" class="search-form tal" style='width:1050px;margin:0 auto;'>
<input type="hidden" name="m" value="<?=$m;?>" />
<input type="hidden" name="c" value="<?=$c;?>" />
<input type="hidden" name="a" value="<?=$a;?>" />
<input type="hidden" name="paged" value="<?=$paged;?>" />
  <table>
    <tr>
      <td class="left">委托人：</td>
      <td class="right"><input type="text" name="ep_name" value="<?=$ep_name;?>" class="input finput" /></td>
      <td class="left">生产者：</td>
      <td class="right"><input type="text" name="manu_name" value="<?=$manu_name;?>" class="input finput" /></td>
      <td class="left">生产企业：</td>
      <td class="right"><input type="text" name="prod_name" value="<?=$prod_name;?>" class="input finput" /></td>
      <td class="left">产品小类：</td>
      <td class="right"><input type="text" name="cti_name" value="<?=$cti_name;?>" class="input finput" /></td>
    </tr>
    <tr>
      <td class="left">产品名称：</td>
      <td class="right"><input type="text" name="name" value="<?=$name;?>" class="input finput" /></td>
       
      <td class="left"></td>
      <td class="right"></td>
      <td class="left"></td>
      <td class="right"></td>
      <td class="left"></td>
      <td class="right"></td>
    </tr>
  </table>
  <p class="button-panel">
    <button class="btn btn-submit" type="submit"> 搜 索 </button>&nbsp;
    <button  class="btn btn-button" onclick="clearForm(this.form);" >清空</button>&nbsp;
   <button id="export-xls-btn" class="btn btn-button" type="button"> 批量导出</button>
  </p>
</form>
<br/>

<div style="margin:0 auto;width:1050px;" class="tal ui-tabs ui-widget ui-widget-content ui-corner-all">
  <ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
    <li class="ui-state-default ui-corner-top ui-tabs-active ui-state-active"><a href="javascript:;">申请单元 <span class="cnt-total"><?=$total;?></span></a></li>
  </ul>
  <div class="ui-tabs-panel ui-widget-content ui-corner-bottom">
  <table class="grid-table tal">
    <thead>
    <tr>
      <th width="30">编辑</th>
      <th width="80">申请编号</th>
      <th width="80">委托人</th>

<!--      <th width="30">子</th> -->
      <th width="80">生产者</th>
      <th width="100">生产企业</th>
      <th width="90">产品小类</th>
      <th width="130">产品名称</th>
      <th width="130">产品型号</th>
      <th width="80">状态</th>
      <th width="80">退回原因</th>
      <th width="30">下载</th>
    </tr>
    </thead>
    <tbody>
<?php
if( $array ){
  foreach( $array as $k=>$v ){

      
?>
    <tr>
      <td align="center"><a href="?m=customer&c=contract&a=edit&cti_id=<?=$v['cti_id'];?>"><img src="theme/images/b_edit.png" border=0 title="编辑" /></a></td>
      <td align="center"><?=$v['cti_code']?></td>
      <td align="center"><?=$v['ep_name']?></td>
      <td><?=$v['ep_manu_name'];?></td>
      <td align="center"><?=$v['ep_prod_name'];?></td>
      <td align="center"><?=$v['prod_id'];?></td>
      <td align="center"><?=$v['prod_name_chinese']?></td>
      <td align="center"><?=$v['scope']?></td>
      <td align="center"><?=$v['status_v'];?></td>
      <td align="center"><?=$v[status]=='2' ? $v['approval_note'] :'';?></td>
<!--      <td align="center"><?php if($v[status] == '1'){?><a href="?m=product&c=word&a=070401-04&cti_id=<?=$v['cti_id'];?>"><img src="theme/images/word.gif" border="0">
产品认证申请受理通知书</a><?php }?>
<?php if($v[status] == '2'){?><a href="?m=product&c=word&a=070401-03&cti_id=<?=$v['cti_id'];?>"><img src="theme/images/word.gif" border="0">
认证申请不予以受理通知书</a><?php }?></td>
-->
	  <td><img src="theme/images/word.gif" border="0" class="word" cti_id='<?=$v[cti_id]?>' style="cursor:pointer;"></td>
    </tr>
<?php
  }
} else {
?>
    <tr>
      <td align="center" colspan="10">没有找到名称</td>
    </tr>
<?php
}
?>
    </tbody>
  </table>
<!--  -->
<?=$pages['pages'];?>
<!--  -->
</div>
</div>

</body>
</html>
