<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>word列表</title>
<link href="theme/css/style.css" type="text/css" rel="stylesheet" />
<link href="theme/css/jquery-ui.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="theme/js/jquery.js"></script>
<script type="text/javascript" src="theme/js/jquery-ui.js"></script>
<script type="text/javascript" src="theme/js/jquery.ui.datepicker-zh-CN.js"></script>
<script type="text/javascript">
function clearForm(objE){
    $(objE).find(':input').each(
        function(){
            switch(this.type){
                case "text":
                case "select-one":
                  $(this).val('');
                    break;
            }
        }
    );
}
</script>
</head>

<body>
<br />
<p style="font-size:18px; font-weight:800"><?=$title;?></p>
<?php tpl("prod_body");?>
<div style="margin:0 auto;width:<?=$width;?>px;" class="tal ui-tabs ui-widget ui-widget-content ui-corner-all">
  <ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
    <li class="ui-state-default ui-corner-top ui-tabs-active ui-state-active"><a href="javascript:;">WORD列表 <span class="cnt-total"><?=$total;?></span></a></li>
  </ul>
  <div class="ui-tabs-panel ui-widget-content ui-corner-bottom">
<ul style="margin-left:10px;">
	<?php foreach($wordlist as $k => $v){?>
	<li style="height:20px; line-height:20px; text-align:left;"><a href="?m=product&c=word&a=<?=$v[url]?>" target="_blank"><?=$v[filename];?></a></li>
    <?php }?>
</ul>
</p>
  </ul>
</div>
</div>

</body>
</html>
